# Initialise Apple SuperDrive
# goes in /etc/udev/rules.d/
# needs sg_raw (sg_utils), package sg3_utils on Arch Linux
ACTION=="add", ATTRS{idProduct}=="1500", ATTRS{idVendor}=="05ac", DRIVERS=="usb", RUN+="/usr/bin/sg_raw /dev/$kernel EA 00 00 00 00 00 01"
